@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div align="center">
<h2>View Requests</h2>

Welcome to the View Requests Page
    <table border="1">
        <tr>
            <th>Module Code</th>
            <th>Module Title</th>
            <th>Room Code</th>
            <th>Status</th>
            <th>Semester</th>
            <th>Weeks</th>
            <th>Days</th>
            <th>Periods</th>
            <th>Years</th>
            <th>Facilities</th>
            <th>Special Requests</th>
        </tr>
        <tr>
            <td>0</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>



        </tr>
    </table>
    </div>
